apiVersion: 1
policies:
  - orgId: 1
    matchers:
      - alertname=no_hl7_from_scheduled_ingest_alert_01
    receiver: '{{ grafana_alert_contact_point }}'
    timing_options:
      repeat_interval: 0h # override 4-hour repeats
