replicaCount: 1

imagePullSecrets: []

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''

service:
  type: ClusterIP
  http: 8080
  dicom: 11112

ingress:
  enabled: true
  className: traefik
  host: '{{ server_hostname }}'

resources: {}

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

paths:
  wildfly: '{{ dcm4chee_dir }}/wildfly'
  storage: '{{ dcm4chee_dir }}/storage'
  db: '{{ dcm4chee_dir }}/dbdir'
  openldap: '{{ dcm4chee_dir }}/ldap'
  slapd: '{{ dcm4chee_dir }}/slapd.d'

timezone: '{{ timezone | default("America/Chicago") }}'
publicDicomPort: '{{ dcm4chee_dicom_port | default(31112) }}'