replicaCount: 1

imagePullSecrets: []

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''

service:
  type: ClusterIP
  http: 8080
  dicom: 11112

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: '{{ server_hostname }}'
      paths:
        - path: /
          pathType: Prefix

resources: {}

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

paths:
  wildfly: '{{ dcm4chee_dir }}/wildfly'
  storage: '{{ dcm4chee_dir }}/storage'
  db: '{{ dcm4chee_dir }}/dbdir'
  openldap: '{{ dcm4chee_dir }}/ldap'
  slapd: '{{ dcm4chee_dir }}/slapd.d'

versions:
  arc: '{{ dcm4chee_arc_version | default("5.34.0") }}'
  db: '{{ dcm4chee_db_version | default("17.4-34") }}'
  ldap: '{{ dcm4chee_ldap_version | default("2.6.8-34.0") }}'

timezone: '{{ dcm4chee_timezone | default("America/Chicago") }}'
publicDicomPort: '{{ dcm4chee_dicom_port | default(31112) }}'