---
# Default values for NVIDIA GPU Operator deployment

# GPU operator Helm chart values
gpu_operator_values:
  toolkit:
    env:
      - name: CONTAINERD_CONFIG
        value: /var/lib/rancher/k3s/agent/etc/containerd/config.toml
      - name: CONTAINERD_SOCKET
        value: /run/k3s/containerd/containerd.sock
