- name: Initialize Hive Metastore database
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: create_db_with_owner
  vars:
    db_name: hive
    db_owner: '{{ hive_postgres_user }}'
    db_owner_pass: '{{ hive_postgres_password }}'

# Deploy write metastore (for Trino, data ingestion)
- name: Deploy write metastore
  ansible.builtin.include_tasks: deploy_metastore.yaml
  vars:
    hive_deployment_name: '{{ hive_metastore_instance }}'

# Create readonly PostgreSQL user for readonly metastore
- name: Setup readonly PostgreSQL user
  ansible.builtin.include_tasks: create_readonly_user.yaml

# Deploy readonly metastore (for Jupyter/PySpark)
- name: Deploy readonly metastore
  ansible.builtin.include_tasks: deploy_metastore.yaml
  vars:
    hive_deployment_name: '{{ hive_metastore_instance_readonly }}'
    hive_template_vars:
      hive_fullname_override: '{{ hive_metastore_instance_readonly }}'
      hive_metastore_db_user: '{{ hive_readonly_postgres_user }}'
      hive_metastore_db_password: '{{ hive_readonly_postgres_password }}'
      hive_s3_access_key: '{{ s3_lake_reader }}'
      hive_s3_secret_key: '{{ s3_lake_reader_secret }}'
