- name: Initialize Hive Metastore database
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: create_db
  vars:
    db_name: hive
    db_user: '{{ hive_postgres_user }}'
    db_pass: '{{ hive_postgres_password }}'

- name: Deploy Hive Metastore Service
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: deploy_helm_chart
  vars:
    helm_chart_name: hive-metastore
    helm_chart_ref: '{{ scout_repo_dir }}/helm/lake/hive-metastore'
    helm_chart_namespace: '{{ hive_namespace }}'
    helm_chart_values: "{{ lookup('template', 'values.yaml.j2') | from_yaml }}"

- name: Wait for Hive to be ready
  command: 'kubectl -n {{ hive_namespace }} wait --for=condition=Available --timeout=300s deployments/hive-metastore'
  register: hive_ready
  changed_when: false
