image:
  repository: '{{ hl7_transformer_image | default("ghcr.io/washu-tag/hl7-transformer") }}'
  tag: latest
envFrom:
  - secretRef:
      name: s3-secret
  - configMapRef:
      name: s3-env
  - secretRef:
      name: postgres-secret
env:
  - name: TEMPORAL_ADDRESS
    value: 'temporal-frontend.{{ temporal_namespace }}:7233'
  - name: TEMPORAL_NAMESPACE
    value: default
  - name: MODALITY_MAP_PATH
    value: /data/modality_mapping_codes.csv
volumes:
  - name: data
    hostPath:
      path: '{{ orchestration_data_dir }}'
  - name: spark-defaults
    configMap:
      name: spark-defaults
volumeMounts:
  - name: data
    mountPath: /data
    readOnly: true
  - name: spark-defaults
    mountPath: /opt/spark/conf/spark-defaults.conf
    subPath: spark-defaults.conf
ports:
  - containerPort: 8000
livenessProbe:
  httpGet:
    path: /healthz
    port: 8000
  initialDelaySeconds: 30
  periodSeconds: 30
spark:
  executor:
    memory: '{{ orchestrator_spark_memory }}'
