alertmanager:
  enabled: false
kube-state-metrics:
  enabled: true
prometheus-node-exporter:
  enabled: true
  hostNetwork: false
prometheus-pushgateway:
  enabled: false

server:
  extraFlags:
    - web.enable-otlp-receiver
    - web.enable-lifecycle
  service:
    servicePort: 9090
  persistentVolume:
    enabled: true
    storageClass: prometheus-storage
  retention: 15d
  extraSecretMounts:
    - name: jupyterhub-metrics-api-token
      secretName: jupyterhub-metrics-api-token
      mountPath: /etc/secrets/jupyterhub
      readOnly: true

extraScrapeConfigs: |
  - job_name: 'grafana'
    metrics_path: /grafana/metrics
    static_configs:
      - targets: ['grafana.{{ grafana_namespace }}']

  - job_name: 'loki'
    metrics_path: /metrics
    static_configs:
      - targets: ['loki.{{ loki_namespace }}:3100']

  - job_name: minio-cluster
    metrics_path: /minio/v2/metrics/cluster
    scheme: http
    static_configs:
      - targets: ['minio.{{ minio_tenant_namespace }}']

  - job_name: minio-bucket
    metrics_path: /minio/v2/metrics/bucket
    scheme: http
    static_configs:
      - targets: ['minio.{{ minio_tenant_namespace }}']

  - job_name: minio-node
    metrics_path: /minio/v2/metrics/node
    scheme: http
    static_configs:
      - targets: ['minio.{{ minio_tenant_namespace }}']

  - job_name: minio-resource
    metrics_path: /minio/v2/metrics/resource
    scheme: http
    static_configs:
      - targets: ['minio.{{ minio_tenant_namespace }}']

  - job_name: jupyterhub
    metrics_path: /jupyter/hub/metrics
    bearer_token_file: /etc/secrets/jupyterhub/metrics-api-token
    scheme: http
    static_configs:
      - targets: ['proxy-public.jupyter']

  - job_name: hl7log-extractor
    scrape_interval: 15s
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ['hl7log-extractor.{{ extractor_namespace }}:8080']
