---
- name: Create namespace
  kubernetes.core.k8s:
    name: '{{ prometheus_namespace }}'
    api_version: v1
    kind: Namespace
    state: present

- name: Create JupyterHub metrics API token secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: jupyterhub-metrics-api-token
        namespace: '{{ prometheus_namespace }}'
      type: Opaque
      stringData:
        metrics-api-token: '{{ jupyter_metrics_api_token }}'

- name: Deploy Prometheus
  ansible.builtin.include_tasks: ../tasks/deploy_helm_chart.yaml
  vars:
    helm_chart_name: prometheus
    helm_chart_ref: prometheus-community/prometheus
    helm_chart_namespace: '{{ prometheus_namespace }}'
    helm_repo_name: prometheus-community
    helm_repo_url: https://prometheus-community.github.io/helm-charts
    helm_chart_version: '~27.11.0'
    helm_chart_create_namespace: true
    helm_chart_wait: true
    helm_chart_timeout: 5m
    helm_chart_values: "{{ lookup('template', 'templates/prometheus.values.yaml.j2') | from_yaml }}"
