---
- name: Deploy Trino
  ansible.builtin.include_tasks: ../tasks/deploy_helm_chart.yaml
  vars:
    helm_chart_name: trino
    helm_chart_ref: trino/trino
    helm_chart_version: '~1.38.0'
    helm_chart_namespace: trino
    helm_repo_name: trino
    helm_repo_url: https://trinodb.github.io/charts
    helm_chart_create_namespace: true
    helm_chart_wait: true
    helm_chart_timeout: 5m
    helm_chart_values:
      catalogs:
        delta: |
          connector.name=delta_lake
          hive.metastore.uri={{ hive_metastore_endpoint }}
          delta.security=ALLOW_ALL
          delta.enable-non-concurrent-writes=true
          fs.native-s3.enabled=true
          s3.aws-access-key={{ s3_lake_writer }}
          s3.aws-secret-key={{ s3_lake_writer_secret }}
          s3.region={{ s3_region }}
          s3.endpoint={{ s3_endpoint }}
          s3.path-style-access=true
      coordinator:
        annotations:
          prometheus.io/trino_scrape: 'true'
      worker:
        annotations:
          prometheus.io/trino_scrape: 'true'
