apiVersion: 1
datasources:
  - name: ingest-db
    type: grafana-postgresql-datasource
    uid: postgres_ingest_db_datasource_01
    url: 'postgresql-cluster-r.{{ postgres_cluster_namespace }}:5432'
    user: '{{ postgres_user }}'
    secureJsonData:
      password: '{{ postgres_password }}'
    jsonData:
      database: '{{ ingest_postgres_table_name }}'
      sslmode: 'require' # disable/require/verify-ca/verify-full
      maxOpenConns: 100
      maxIdleConns: 100
      maxIdleConnsAuto: true
      connMaxLifetime: 14400
      postgresVersion: 1500
      tlsConfigurationMethod: 'file-path'
    editable: false
