{
    "Name" : "TAG Exploration Orthanc",
    "UnknownSopClassAccepted" : true,
    "DicomModalitiesInDatabase" : true,
    "OrthancPeersInDatabase" : true,
    "CaseSensitivePN" : false,
    "IngestTranscodingOfUncompressed" : false,
    "IngestTranscodingOfCompressed" : false,
    "DicomWeb": {
        "Enable": true
    },
    "RegisteredUsers": {
        "{{ orthanc_username | quote }}" : "{{ orthanc_password | quote }}"
    }
}