{
    "Name" : "TAG Exploration Orthanc",
    "UnknownSopClassAccepted" : true,
    "DicomModalitiesInDatabase" : true,
    "OrthancPeersInDatabase" : true,
    "CaseSensitivePN" : false,
    "IngestTranscodingOfUncompressed" : false,
    "IngestTranscodingOfCompressed" : false,
    "DicomWeb": {
        "Enable": true
    },
    "Plugins" : [
        "/usr/share/orthanc/plugins", "/usr/local/share/orthanc/plugins"
    ],
    "StorageDirectory" : "/var/lib/orthanc/db",
    "IndexDirectory" : "/var/lib/orthanc/db",
    "RemoteAccessAllowed" : true,
    "RestApiWriteToFileSystemEnabled": true,
    "PublicRoot" : "/orthanc/",
    "RegisteredUsers": {
        "{{ orthanc_username | default('orthanc') | quote }}" : "{{ orthanc_password | default('orthanc') | quote }}"
    }
}