{
    "Name" : "TAG Exploration Orthanc",
    "UnknownSopClassAccepted" : true,
    "DicomModalitiesInDatabase" : true,
    "OrthancPeersInDatabase" : true,
    "CaseSensitivePN" : false,
    "IngestTranscodingOfUncompressed" : false,
    "IngestTranscodingOfCompressed" : false,
    "DicomWeb": {
        "Enable": true
    },
    "Plugins" : [
        "/usr/share/orthanc/plugins", "/usr/local/share/orthanc/plugins"
    ],
    "RegisteredUsers": {
        "{{ orthanc_username | quote }}" : "{{ orthanc_password | quote }}"
    }
}