---
- name: Create Secret for Scout Keycloak Realm
  delegate_to: localhost
  no_log: true
  kubernetes.core.k8s:
    state: present
    namespace: '{{ keycloak_namespace }}'
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: keycloak-config
      data:
        scout-realm.json: "{{ lookup('template', 'scout-realm.json.j2') | b64encode }}"
    kubeconfig: '{{ local_kubeconfig_yaml | default(kubeconfig_yaml) }}'

- name: Run Keycloak Config CLI
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: deploy_helm_chart
  vars:
    helm_chart_name: keycloak-config-cli
    helm_chart_ref: '{{ keycloak_config_cli_helm_chart_url }}'
    helm_chart_namespace: '{{ keycloak_namespace }}'
    helm_chart_create_namespace: true
    helm_chart_wait: true
    helm_chart_timeout: '5m'
    helm_chart_values:
      image:
        repository: '{{ keycloak_config_cli_image }}'
        tag: '{{ keycloak_config_cli_image_tag }}'
      existingConfigSecret: 'keycloak-config'
      env:
        KEYCLOAK_URL: 'http://keycloak-service.{{ keycloak_namespace }}:8080/'
        KEYCLOAK_USER: '{{ keycloak_bootstrap_admin_user }}'
      existingSecret: keycloak-admin-secret
