apiVersion: apps/v1
kind: Deployment
metadata:
  name: arc
  labels:
    {{- include "dcm4chee.arc.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      dcm4chee-component: arc
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "dcm4chee.arc.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - env:
            - name: WILDFLY_CHOWN
              value: /opt/wildfly/standalone /storage
            - name: WILDFLY_WAIT_FOR
              value: ldap:389 db:5432
            - name: TZ
              value: "{{ .Values.timezone }}"
          envFrom:
            - secretRef:
                name: dcm4chee-db-secret
          image: dcm4che/dcm4chee-arc-psql:5.34.0
          name: arc
          startupProbe:
            failureThreshold: 20
            periodSeconds: 10
            tcpSocket:
              initialDelaySeconds: 30
              port: 11112
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8443
              protocol: TCP
            - containerPort: 9990
              protocol: TCP
            - containerPort: 9993
              protocol: TCP
            - containerPort: 11112
              protocol: TCP
            - containerPort: 2762
              protocol: TCP
            - containerPort: 2575
              protocol: TCP
            - containerPort: 12575
              protocol: TCP
          volumeMounts:
            - name: wildfly
              mountPath: /opt/wildfly/standalone
              readOnly: false
              mountPropagation: HostToContainer
            - name: storage
              mountPath: /storage
              readOnly: false
              mountPropagation: HostToContainer
      volumes:
        - name: wildfly
          hostPath:
            path: "{{ .Values.paths.wildfly }}"
        - name: storage
          hostPath:
            path: "{{ .Values.paths.storage }}"
