apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "dcm4chee.labels" . | nindent 4 }}
    dcm4chee-component: db
  name: db
spec:
  ports:
    - name: "5432"
      port: 5432
      targetPort: 5432
  selector:
    dcm4chee-component: db
