apiVersion: apps/v1
kind: Deployment
metadata:
  name: ldap
  labels:
    {{- include "dcm4chee.ldap.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      dcm4chee-component: ldap
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "dcm4chee.ldap.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - env:
            - name: STORAGE_DIR
              value: /storage/fs1
            - name: DICOM_PORT
              value: {{ .Values.service.dicom }}
            - name: TZ
              value: "{{ .Values.timezone }}"
          image: "dcm4che/slapd-dcm4chee:{{ .Values.versions.ldap }}"
          name: ldap
          ports:
            - containerPort: 389
              protocol: TCP
          volumeMounts:
            - name: openldap-data
              mountPath: /var/lib/openldap/openldap-data
              readOnly: false
              mountPropagation: HostToContainer
            - name: slapd
              mountPath: /etc/openldap/slapd.d
              readOnly: false
              mountPropagation: HostToContainer
      volumes:
        - name: openldap-data
          hostPath:
            path: "{{ .Values.paths.openldap }}"
        - name: slapd
          hostPath:
            path: "{{ .Values.paths.slapd }}"
