spring:
  application:
    name: temporal-java
  temporal:
    connection:
      target: 'temporal-frontend.temporal:7233'
    namespace: default
    start-workers: true
    workers-auto-discovery:
      packages:
        - edu.washu.tag.temporal.activity
        - edu.washu.tag.temporal.workflow
  # Write an external config that fills these in with your database connection details
  datasource:
    #    url: jdbc:postgresql://postgres.postgres:5432/scout
    #    username: postgres
    #    password: postgres
    driver-class-name: org.postgresql.Driver
s3:
  endpoint: 'http://minio.minio:9000'
  region: us-east-1
scout:
  max-children:
    150 # This is to limit I/O contention during the split & transform operation (java worker) and to try to hit a sweet spot of efficiency
    # during the delta lake insert (python worker). It's been tested on 1.3-1.4MB log files.
