---
# SELinux Package Installation for k3s
# Installs container-selinux and k3s-selinux packages when SELinux is enabled
# Only runs in air-gapped mode (online mode handles SELinux via get.k3s.io script)

- name: Display SELinux installation status
  ansible.builtin.debug:
    msg: "SELinux package installation: {{ 'ENABLED' if k3s_selinux_enabled | bool else 'DISABLED' }}"

- name: Skip SELinux installation message
  ansible.builtin.debug:
    msg: 'SELinux is not enabled, skipping SELinux package installation'
  when: not k3s_selinux_enabled | bool

- name: Install SELinux packages
  when: k3s_selinux_enabled | bool
  block:
    - name: Create staging directory for SELinux RPMs
      ansible.builtin.file:
        path: '{{ k3s_selinux_rpm_staging_dir }}'
        state: directory
        mode: '0755'

    - name: Find all RPM files in artifact directory
      ansible.builtin.find:
        paths: '{{ k3s_artifact_temp_dir }}'
        patterns: '*.rpm'
      delegate_to: localhost
      register: rpm_files_to_copy

    - name: Copy all SELinux RPMs to node
      ansible.builtin.copy:
        src: '{{ item.path }}'
        dest: '{{ k3s_selinux_rpm_staging_dir }}/{{ item.path | basename }}'
        mode: '0644'
      loop: '{{ rpm_files_to_copy.files }}'

    - name: Find all RPM files on node
      ansible.builtin.find:
        paths: '{{ k3s_selinux_rpm_staging_dir }}'
        patterns: '*.rpm'
      register: rpm_files_on_node

    - name: Install all SELinux packages
      ansible.builtin.yum:
        name: '{{ rpm_files_on_node.files | map(attribute="path") | list }}'
        state: present
        disable_gpg_check: true
      register: selinux_install

    - name: Verify k3s SELinux policy module is loaded
      ansible.builtin.command: semodule -l
      register: semodule_list
      changed_when: false
      retries: 3
      delay: 2
      until: "'k3s' in semodule_list.stdout"

    - name: Clean up staging directory
      ansible.builtin.file:
        path: '{{ k3s_selinux_rpm_staging_dir }}'
        state: absent
