apiVersion: v1
kind: Service
metadata:
  name: {{ include "orthanc.fullname" . }}
  labels:
    {{- include "orthanc.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.http }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.dicom }}
      targetPort: dicom
      protocol: TCP
      name: dicom
  selector:
    {{- include "orthanc.selectorLabels" . | nindent 4 }}
