---
- name: Deploy Chat Service
  hosts: server
  gather_facts: false
  environment:
    KUBECONFIG: '{{ kubeconfig_yaml }}'
    K8S_AUTH_KUBECONFIG: '{{ kubeconfig_yaml }}'
  tasks:
    - name: Deploy vLLM
      ansible.builtin.include_role:
        name: vllm
      when:
        - enable_chat | default(false) | bool
        - llm_backend == 'vllm'

    - name: Deploy Open WebUI
      ansible.builtin.include_role:
        name: open-webui
      when: enable_chat | default(false) | bool
