---
- name: Deploy Chatbot
  hosts: server
  gather_facts: false
  pre_tasks:
    - name: Skip if chat not enabled
      ansible.builtin.meta: end_play
      when: not (enable_chat | default(false) | bool)
  environment: '{{ cluster_k8s_environment }}'
  roles:
    - role: open-webui
