---
- name: Deploy Chatbot
  hosts: server
  gather_facts: false
  environment:
    KUBECONFIG: '{{ kubeconfig_yaml }}'
    K8S_AUTH_KUBECONFIG: '{{ kubeconfig_yaml }}'
  roles:
    - role: open-webui
      when: enable_chat | default(false) | bool
