---
- name: Install explorer
  hosts: server
  gather_facts: false
  environment:
    HELM_PLUGINS: '{{ helm_plugins_dir }}'
    KUBECONFIG: '{{ kubeconfig_yaml }}'

  tasks:
    - name: Create Traefik Middleware to strip /launchpad prefix for internal traffic
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: traefik.io/v1alpha1
          kind: Middleware
          metadata:
            name: explorer-strip-prefix
            namespace: kube-system
          spec:
            stripPrefix:
              prefixes:
                - /launchpad
      delegate_to: '{{ k3s_host }}'

    - name: Install explorer using Helm
      kubernetes.core.helm:
        name: explorer
        release_namespace: explorer
        create_namespace: true
        chart_ref: '{{ scout_repo_dir }}/helm/explorer'
        state: present
        wait: true
        wait_timeout: 5m
        atomic: true
        values_files:
          - '{{ scout_repo_dir }}/helm/explorer/values.yaml'
        values:
          image:
            repository: '{{ explorer_image | default(omit) }}'
          ingress:
            enabled: true
            className: traefik
            annotations:
              traefik.ingress.kubernetes.io/router.middlewares: >
                kube-system-explorer-strip-prefix@kubernetescrd
            hosts:
              - host: '{{ server_hostname }}'
                paths:
                  - path: /launchpad
                    pathType: Prefix
      delegate_to: '{{ k3s_host }}'
