---
- name: Install extractor services
  hosts: server
  gather_facts: false
  environment:
    KUBECONFIG: '{{ kubeconfig_yaml }}'
  tasks:
    - name: Create namespace
      kubernetes.core.k8s:
        name: '{{ extractor_namespace }}'
        api_version: v1
        kind: Namespace
        state: present

    - name: Create Postgres secret
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: postgres-secret
            namespace: '{{ extractor_namespace }}'
          type: Opaque
          stringData:
            DB_HOST: 'postgresql-cluster-rw.{{ postgres_cluster_namespace }}'
            DB_PORT: '5432'
            DB_NAME: '{{ ingest_postgres_table_name }}'
            DB_USER: '{{ postgres_user }}'
            DB_PASSWORD: '{{ postgres_password }}'

    - name: Create S3 secret
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: s3-secret
            namespace: '{{ extractor_namespace }}'
          type: Opaque
          stringData:
            AWS_ACCESS_KEY_ID: '{{ s3_lake_writer }}'
            AWS_SECRET_ACCESS_KEY: '{{ s3_lake_writer_secret }}'

    - name: Create S3 configmap
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: ConfigMap
          metadata:
            name: s3-env
            namespace: '{{ extractor_namespace }}'
          data:
            AWS_ENDPOINT_URL: '{{ s3_endpoint }}'
            AWS_ALLOW_HTTP: 'true'
            AWS_REGION: '{{ s3_region }}'

    - name: Setup Spark defaults ConfigMap
      include_tasks: tasks/spark_config_setup.yaml
      vars:
        spark_defaults_configmap_name: spark-defaults
        spark_defaults_configmap_namespace: '{{ extractor_namespace }}'
        spark_memory: '{{ hl7_transformer_spark_memory }}'
        spark_s3_username: '{{ s3_lake_writer }}'
        spark_s3_password: '{{ s3_lake_writer_secret }}'

    - name: Deploy HL7Log Extractor
      ansible.builtin.include_tasks: tasks/deploy_helm_chart.yaml
      vars:
        helm_chart_name: hl7log-extractor
        helm_chart_ref: >-
          {{ scout_repo_dir }}/helm/extractor/hl7log-extractor
        helm_chart_namespace: '{{ extractor_namespace }}'
        helm_chart_create_namespace: false
        helm_chart_wait: true
        helm_chart_timeout: 5m
        helm_chart_values: >-
          {{ lookup('template',
          'templates/hl7log-extractor.values.yaml.j2') | from_yaml }}

    - name: Deploy HL7 Transformer
      ansible.builtin.include_tasks: tasks/deploy_helm_chart.yaml
      vars:
        helm_chart_name: hl7-transformer
        helm_chart_ref: >-
          {{ scout_repo_dir }}/helm/extractor/hl7-transformer
        helm_chart_namespace: '{{ extractor_namespace }}'
        helm_chart_create_namespace: false
        helm_chart_wait: true
        helm_chart_timeout: 5m
        helm_chart_values: >-
          {{ lookup('template',
          'templates/hl7-transformer.values.yaml.j2') | from_yaml }}
