---
- name: Install components for Lake service
  hosts: server
  gather_facts: false
  environment:
    KUBECONFIG: '{{ kubeconfig_yaml }}'
  roles:
    - role: minio
      when: not aws_deployment
    - role: hive
