---
- name: Install components for Lake service
  hosts: server
  gather_facts: false
  environment: '{{ cluster_k8s_environment }}'
  roles:
    - role: minio
      when: not aws_deployment
    - role: hive
