---
- name: Install monitoring components
  hosts: server
  gather_facts: false
  environment:
    KUBECONFIG: '{{ kubeconfig_yaml }}'
    K8S_AUTH_KUBECONFIG: '{{ kubeconfig_yaml }}'
  roles:
    - prometheus
    - loki
    - grafana
