---
- name: Install monitoring components
  hosts: server
  gather_facts: false
  environment: '{{ cluster_k8s_environment }}'
  roles:
    # - role: prometheus
    # - role: loki
    - role: grafana
