---
- name: Install Cassandra, Elasticsearch, and Temporal
  hosts: server
  gather_facts: false
  environment:
    KUBECONFIG: '{{ kubeconfig_yaml }}'
  roles:
    - role: cassandra
    - role: elasticsearch
    - role: temporal
