---
- name: Install Cassandra, Elasticsearch, and Temporal
  hosts: server
  gather_facts: false
  environment: '{{ k8s_environment }}'
  roles:
    - role: cassandra
    - role: elasticsearch
    - role: temporal
