---
# Clone Scout repository to Ansible control node (localhost)
# Required for local helm charts and file lookups

- name: Clone Scout repository
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Clone repository
      when: clone_scout_repo | default(false)
      ansible.builtin.git:
        repo: https://github.com/washu-tag/scout.git
        dest: '{{ scout_repo_dir }}'
        version: '{{ scout_branch | default("main") }}'
