---
- name: Initialize Superset database
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: create_db_with_owner
  vars:
    db_name: '{{ superset_database }}'
    db_owner: '{{ superset_postgres_user }}'
    db_owner_pass: '{{ superset_postgres_password }}'

- name: Create namespace
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: namespace
  vars:
    ns: '{{ superset_namespace }}'

- name: Build dashboard ConfigMap data
  delegate_to: localhost
  block:
    - name: Find all analytics YAML files
      ansible.builtin.find:
        paths: '{{ superset_analytics_dir }}'
        recurse: true
        file_type: file
        patterns:
          - '*.yaml'
          - '*.yaml.j2'
      register: analytics_files

    - name: Build ConfigMap data and items list
      no_log: true
      vars:
        analytics_root: '{{ (superset_analytics_dir | realpath) }}'
        is_template: '{{ item.path.endswith(".j2") }}'
        file_basename: '{{ (item.path | basename | regex_replace("\.j2$", "")) }}'
        file_content: '{{ lookup("template" if is_template else "file", item.path) }}'
        file_mount_path: '{{ ((item.path | realpath) | regex_replace("^" ~ analytics_root ~ "/", "analytics/") | regex_replace("\.j2$", "")) }}'
      ansible.builtin.set_fact:
        superset_dashboard_data: >-
          {{
            superset_dashboard_data | default({}) |
            combine({ file_basename: file_content })
          }}
        superset_dashboard_items: >-
          {{
            superset_dashboard_items | default([]) + [
              {
                'key': file_basename,
                'path': file_mount_path
              }
            ]
          }}
      loop: '{{ analytics_files.files }}'
      loop_control:
        label: '{{ (item.path | realpath) | regex_replace("^" ~ analytics_root ~ "/", "") }}'

- name: Create ConfigMap for datasource and dashboard yaml
  no_log: true
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: dashboard-config
        namespace: '{{ superset_namespace }}'
      data: '{{ superset_dashboard_data | default({}) }}'

- name: Create ConfigMap with Scout logo for Superset branding
  delegate_to: localhost
  no_log: true
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: scout-logo
        namespace: '{{ superset_namespace }}'
      binaryData:
        scout.png: '{{ lookup("file", superset_logo_path) | b64encode }}'
    kubeconfig: '{{ local_kubeconfig_yaml }}'

- name: Parse Superset Helm values
  ansible.builtin.set_fact:
    superset_helm_chart_values: "{{ lookup('template', 'values.yaml.j2') | from_yaml }}"

- name: Deploy Superset
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: deploy_helm_chart
  vars:
    helm_chart_name: '{{ superset_helm_chart_name }}'
    helm_chart_ref: '{{ superset_helm_repo_name }}/{{ superset_helm_chart_name }}'
    helm_chart_version: '{{ superset_helm_chart_version }}'
    helm_chart_namespace: '{{ superset_namespace }}'
    helm_repo_name: '{{ superset_helm_repo_name }}'
    helm_repo_url: '{{ superset_helm_repo_url }}'
    helm_chart_timeout: '{{ superset_helm_timeout }}'
    helm_chart_values: '{{ superset_helm_chart_values }}'
