replicaCount: 1

image:
  repository: starburstdata/hive
  pullPolicy: IfNotPresent
  tag: '{{ hive_image_tag }}'

imagePullSecrets: []
nameOverride: ''
fullnameOverride: '{{ hive_fullname_override | default("") }}'

serviceAccount:
  create: false
  automount: true
  annotations: {}
  name: ''

podAnnotations: {}
podLabels: {}

podSecurityContext:
  {}

securityContext:
  {}

service:
  type: ClusterIP
  port: 9083

ingress:
  enabled: false

resources: {{ hive_resources | to_json }}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}

env:
  - name: HIVE_METASTORE_DRIVER
    value: 'org.postgresql.Driver'
  - name: HIVE_METASTORE_JDBC_URL
    value: '{{ jdbc_url }}/{{ hive_database_name }}'
  - name: HIVE_METASTORE_USER
    value: '{{ hive_metastore_db_user | default(hive_postgres_user) }}'
  - name: HIVE_METASTORE_PASSWORD
    value: '{{ hive_metastore_db_password | default(hive_postgres_password) }}'
  - name: HIVE_METASTORE_WAREHOUSE_DIR
    value: '{{ delta_lake_path }}'
  - name: S3_ENDPOINT
    value: '{{ s3_endpoint }}'
  - name: S3_ACCESS_KEY
    value: '{{ hive_s3_access_key | default(s3_lake_writer) }}'
  - name: S3_SECRET_KEY
    value: '{{ hive_s3_secret_key | default(s3_lake_writer_secret) }}'
  - name: S3_PATH_STYLE_ACCESS
    value: 'true'
  - name: REGION
    value: '{{ s3_region }}'
  - name: HIVE_METASTORE_USERS_IN_ADMIN_ROLE
    value: 'admin'
  # All of these empty values must be present
  - name: GOOGLE_CLOUD_KEY_FILE_PATH
    value: ''
  - name: AZURE_ADL_CLIENT_ID
    value: ''
  - name: AZURE_ADL_CREDENTIAL
    value: ''
  - name: AZURE_ADL_REFRESH_URL
    value: ''
  - name: AZURE_ABFS_STORAGE_ACCOUNT
    value: ''
  - name: AZURE_ABFS_ACCESS_KEY
    value: ''
  - name: AZURE_WASB_STORAGE_ACCOUNT
    value: ''
  - name: AZURE_ABFS_OAUTH
    value: ''
  - name: AZURE_ABFS_OAUTH_TOKEN_PROVIDER
    value: ''
  - name: AZURE_ABFS_OAUTH_CLIENT_ID
    value: ''
  - name: AZURE_ABFS_OAUTH_SECRET
    value: ''
  - name: AZURE_ABFS_OAUTH_ENDPOINT
    value: ''
  - name: AZURE_WASB_ACCESS_KEY
    value: ''
