{
    "Name" : "TAG Exploration Orthanc",
    "UnknownSopClassAccepted" : true,
    "DicomModalitiesInDatabase" : true,
    "OrthancPeersInDatabase" : true,
    "CaseSensitivePN" : false,
    "IngestTranscodingOfUncompressed" : false,
    "IngestTranscodingOfCompressed" : false,
{%- if orthanc_postgres_mode != 'disabled' %}
    "PostgreSQL": {
        "EnableIndex": true,
        "EnableStorage": false,
        "Host": "orthanc-cnpg-rw.{{ orthanc_namespace }}.svc.cluster.local",
        "Port": {{ orthanc_postgres_port }},
        "Database": {{ orthanc_postgres_database | to_json }},
        "Username": {{ orthanc_postgres_user | to_json }},
        "Password": {{ orthanc_postgres_password | to_json }},
        "Lock": false
    },
    "DicomCheckModalityHost": false,
    "DatabaseServerIdentifier": "orthanc-cluster",
{%- endif %}
    "DicomWeb": {
        "Enable": true
    },
    "Plugins" : [
        "/usr/share/orthanc/plugins", "/usr/local/share/orthanc/plugins"
    ],
    "DicomPort" : {{ orthanc_dicom_port }},
    "StorageDirectory" : "/var/lib/orthanc/db",
    "IndexDirectory" : "/var/lib/orthanc/db",
    "RemoteAccessAllowed" : true,
    "RestApiWriteToFileSystemEnabled": true,
    "RegisteredUsers": {
        "{{ orthanc_username | default('orthanc') | quote }}" : "{{ orthanc_password | default('orthanc') | quote }}"
    }
}
