replicaCount: {{ orthanc_replicas }}

image:
  repository: "{{ orthanc_image }}"
  pullPolicy: IfNotPresent
  tag: "{{ orthanc_version }}"

imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  http: 8042
  dicom:
    port: {{ orthanc_dicom_port }}
    annotations: {{ orthanc_dicom_service_annotations | to_json }}
    loadBalancerClass: {{ orthanc_dicom_service_load_balancer_class | to_json }}

ingress:
  enabled: true
  className: traefik
  annotations:
  hosts:
    - host: 'orthanc.{{ server_hostname }}'
      paths:
        - path: /
          pathType: Prefix

resources: {{ orthanc_resources_default | combine(orthanc_resources | default({}), recursive=true) | to_json }}

livenessProbe:
  tcpSocket:
    port: {{ orthanc_dicom_port }}
readinessProbe:
  tcpSocket:
    port: {{ orthanc_dicom_port }}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes:
  - name: orthanc-json
    secret:
      secretName: orthanc-secret
  - name: data
    persistentVolumeClaim:
      claimName: orthanc-data-pvc

volumeMounts:
  - mountPath: /etc/orthanc
    name: orthanc-json
    readOnly: true
  - name: data
    mountPath: /var/lib/orthanc/db
    readOnly: false
    mountPropagation: HostToContainer

postgres:
  cluster:
    affinity: {{ orthanc_postgres_cluster_affinity | to_json }}
    annotations: {{ orthanc_postgres_cluster_annotations | to_json }}
    enabled: {{ orthanc_postgres_mode == 'cnpg' }} # Set to false to use your own DB
    instances: {{ orthanc_postgres_replicas }}
{% if orthanc_postgres_image_name %}
    imageName: {{ orthanc_postgres_image_name }}
    version: {{ orthanc_postgres_version }}
{% endif %}
    storage:
      size: "{{ orthanc_postgres_storage_size }}"
      storageClass: "{{ orthanc_postgres_storage_class }}"
    resources: {{ orthanc_postgres_resources_default | combine(orthanc_postgres_resources | default({}), recursive=true) | to_json }}
    parameters:
      max_connections: {{ orthanc_postgres_max_connections }}
      shared_buffers: {{ orthanc_postgres_shared_buffers }}
    enableSuperuserAccess: true
    credentials:
      # Always use an external secret for production deployments.
      externalSecret: orthanc-cnpg-app-credentials
      database: {{ orthanc_postgres_database | to_json }}
    # CNPG can include roles and services in cluster definitions.
    # See the official docs for more information
    # https://cloudnative-pg.io/docs/1.29/cloudnative-pg.v1#managedconfiguration
    managed: {}

nodeSelector: {}

tolerations: []

affinity: {}
