{
  "apiVersion": 1,
  "contactPoints": [
    {
      "orgId": 1,
      "name": "email",
      "receivers": [
        {
          "uid": "email_scout_contact_point_01",
          "type": "email",
          "settings": {
            "addresses": "[% grafana_email_recipients | default([''], true) | join(',') %]",
            "singleEmail": true
          },
          "disableResolveMessage": false
        }
      ]
    }
  ]
}