{
  "apiVersion": 1,
  "contactPoints": [
    {
      "orgId": 1,
      "name": "slack",
      "receivers": [
        {
          "uid": "slack_scout_contact_point_01",
          "type": "slack",
          "settings": {
            "recipient": "[% slack_channel_id %]",
            "text": "{{ template \"slack_message\" . }}",
            "title": "{{ template \"slack_title\" . }}",
            "token": "[% slack_token %]"
          },
          "disableResolveMessage": false
        }
      ]
    }
  ]
}
