replicaCount: 1

imagePullSecrets: []

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''

service:
  type: ClusterIP
  http: 8080
  dicom: {{ dcm4chee_dicom_port }}

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: '{{ server_hostname }}'
      paths:
        - path: /
          pathType: Prefix

resources: {{ dcm4chee_resources | to_json }}

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Storage configuration for PVCs
storage:
{% if dcm4chee_storage_class is defined and dcm4chee_storage_class %}
  storageClass: '{{ dcm4chee_storage_class }}'
{% endif %}
  wildfly:
    size: '{{ dcm4chee_wildfly_storage_size }}'
  storage:
    size: '{{ dcm4chee_storage_storage_size }}'
  db:
    size: '{{ dcm4chee_db_storage_size }}'
  openldap:
    size: '{{ dcm4chee_openldap_storage_size }}'
  slapd:
    size: '{{ dcm4chee_slapd_storage_size }}'

arcVolumeMounts:
  - name: wildfly
    mountPath: /opt/wildfly/standalone
    readOnly: false
    mountPropagation: HostToContainer
  - name: storage
    mountPath: /storage
    readOnly: false
    mountPropagation: HostToContainer

versions:
  arc: '{{ dcm4chee_arc_version }}'
  db: '{{ dcm4chee_db_version }}'
  ldap: '{{ dcm4chee_ldap_version }}'

timezone: '{{ dcm4chee_timezone }}'