---
apiVersion: app.redislabs.com/v1alpha1
kind: RedisEnterpriseDatabase
metadata:
  name: {{ redis_db_name }}
  namespace: {{ redis_namespace }}
spec:
  redisEnterpriseCluster:
    name: rec
  memorySize: {{ redis_db_memory_size }}
  persistence: {{ 'aofEverySecond' if (redis_db_persistence_enabled | default(true)) else 'disabled' }}
  replication: {{ redis_db_replication | default(false) | lower }}
  databasePort: {{ redis_db_port }}
  databaseSecretName: {{ redis_db_name }}-password
