[{{ yum_repo.name }}]
name={{ yum_repo.name }}{{ ' (via proxy)' if yum_proxy_base_url else '' }}
baseurl={{ (yum_proxy_base_url ~ '/' ~ yum_repo.name ~ '/') if yum_proxy_base_url else yum_repo.url }}
enabled=1
gpgcheck=0
sslverify=1
