---
# Deploy JupyterHub using Helm

- name: Validate required variables
  ansible.builtin.assert:
    that:
      - jupyter_metrics_api_token is defined
      - jupyter_metrics_api_token | length > 0
    fail_msg: >
      Required API token (jupyter_metrics_api_token) must be set in inventory.yaml.
      Use vault encryption. Example: openssl rand -hex 32 | ansible-vault encrypt_string --vault-password-file vault/pwd.sh
    quiet: true

- name: Create namespace
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: namespace
  vars:
    ns: '{{ jupyter_namespace }}'

- name: Determine target node for Jupyter pods
  ansible.builtin.set_fact:
    jupyter_target_node_name: >-
      {%- if groups['gpu_workers'] is defined and groups['gpu_workers'] | length > 0 -%}
        {{ hostvars[groups['gpu_workers'][0]]['inventory_hostname'] }}
      {%- elif groups['workers'] is defined and groups['workers'] | length > 0 -%}
        {{ hostvars[groups['workers'][0]]['inventory_hostname'] }}
      {%- else -%}
        {{ omit }}
      {%- endif -%}

- name: Setup Spark Defaults ConfigMap
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: spark_config_setup
  vars:
    spark_defaults_configmap_name: spark-defaults
    spark_defaults_configmap_namespace: '{{ jupyter_namespace }}'
    spark_hive_metastore_uri: '{{ hive_metastore_endpoint_readonly }}'
    spark_s3_username: '{{ s3_lake_reader }}'
    spark_s3_password: '{{ s3_lake_reader_secret }}'

- name: Create ConfigMap with Scout logo for JupyterHub branding
  delegate_to: localhost
  no_log: true
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: scout-logo
        namespace: '{{ jupyter_namespace }}'
      binaryData:
        scout.png: '{{ lookup("file", jupyter_logo_path) | b64encode }}'
    kubeconfig: '{{ local_kubeconfig_yaml }}'

- name: Create ConfigMap with custom CSS for JupyterLab branding
  delegate_to: localhost
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: jupyterlab-custom-css
        namespace: '{{ jupyter_namespace }}'
      data:
        custom.css: '{{ lookup("file", "custom.css") }}'
    kubeconfig: '{{ local_kubeconfig_yaml }}'

- name: Parse Helm values
  ansible.builtin.set_fact:
    jh_helm_chart_values: "{{ lookup('template', 'values.yaml.j2') | from_yaml }}"

- name: Deploy JupyterHub
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: deploy_helm_chart
  vars:
    helm_chart_name: jupyter
    helm_chart_ref: '{{ jupyter_helm_repo_name }}/{{ jupyter_helm_chart_name }}'
    helm_chart_version: '{{ jupyter_helm_chart_version }}'
    helm_chart_namespace: '{{ jupyter_namespace }}'
    helm_repo_name: '{{ jupyter_helm_repo_name }}'
    helm_repo_url: '{{ jupyter_helm_repo_url }}'
    helm_chart_timeout: 15m
    helm_chart_values: '{{ jh_helm_chart_values }}'
