---
# Deploy JupyterHub using Helm

- name: Validate required variables
  ansible.builtin.assert:
    that:
      - jupyter_metrics_api_token is defined
      - jupyter_metrics_api_token | length > 0
    fail_msg: >
      Required API token (jupyter_metrics_api_token) must be set in inventory.yaml.
      Use vault encryption. Example: openssl rand -hex 32 | ansible-vault encrypt_string --vault-password-file vault/pwd.sh
    quiet: true

- name: Create namespace
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: namespace
  vars:
    ns: '{{ jupyter_namespace }}'

- name: Create static PV for Jupyter notebook storage (on-prem)
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: '{{ jupyter_singleuser_pv_name }}'
      spec:
        capacity:
          storage: '{{ jupyter_singleuser_storage_size }}'
        accessModes:
          - ReadWriteMany
        persistentVolumeReclaimPolicy: Retain
        # For static PV binding: empty string prevents default storage class assignment
        # If jupyter_singleuser_storage_class is set, use it; otherwise use empty string
        storageClassName: '{{ jupyter_singleuser_storage_class if jupyter_singleuser_storage_class else "" }}'
        hostPath:
          path: '{{ jupyter_singleuser_hostpath }}'
          type: DirectoryOrCreate
  when: jupyter_singleuser_hostpath | length > 0

- name: Create PersistentVolumeClaim for Jupyter single-user storage
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: '{{ jupyter_singleuser_pvc }}'
        namespace: '{{ jupyter_namespace }}'
      spec:
        accessModes:
          - ReadWriteMany
        resources:
          requests:
            storage: '{{ jupyter_singleuser_storage_size }}'
        # When using static PV (hostpath): set empty string to prevent default storage class
        # When using dynamic provisioning: omit field to use cluster default, or specify custom class
        storageClassName: '{{ jupyter_singleuser_storage_class if jupyter_singleuser_storage_class else ("" if jupyter_singleuser_hostpath else omit) }}'
        volumeName: '{{ jupyter_singleuser_pv_name if (jupyter_singleuser_hostpath | default("")) else omit }}'

- name: Setup Spark Defaults ConfigMap
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: spark_config_setup
  vars:
    spark_defaults_configmap_name: spark-defaults
    spark_defaults_configmap_namespace: '{{ jupyter_namespace }}'
    spark_hive_metastore_uri: '{{ hive_metastore_endpoint_readonly }}'
    spark_s3_username: '{{ s3_lake_reader }}'
    spark_s3_password: '{{ s3_lake_reader_secret }}'

- name: Create ConfigMap with Scout logo for JupyterHub branding
  delegate_to: localhost
  no_log: true
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: scout-logo
        namespace: '{{ jupyter_namespace }}'
      binaryData:
        scout.png: '{{ lookup("file", jupyter_logo_path) | b64encode }}'
    kubeconfig: '{{ local_kubeconfig_yaml }}'

- name: Create ConfigMap with custom CSS for JupyterLab branding
  delegate_to: localhost
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: jupyterlab-custom-css
        namespace: '{{ jupyter_namespace }}'
      data:
        custom.css: '{{ lookup("file", "custom.css") }}'
    kubeconfig: '{{ local_kubeconfig_yaml }}'

- name: Parse Helm values
  ansible.builtin.set_fact:
    jh_helm_chart_values: "{{ lookup('template', 'values.yaml.j2') | from_yaml }}"

- name: Deploy JupyterHub
  ansible.builtin.include_role:
    name: scout_common
    tasks_from: deploy_helm_chart
  vars:
    helm_chart_name: jupyter
    helm_chart_ref: '{{ jupyter_helm_repo_name }}/{{ jupyter_helm_chart_name }}'
    helm_chart_version: '{{ jupyter_helm_chart_version }}'
    helm_chart_namespace: '{{ jupyter_namespace }}'
    helm_repo_name: '{{ jupyter_helm_repo_name }}'
    helm_repo_url: '{{ jupyter_helm_repo_url }}'
    helm_chart_timeout: 15m
    helm_chart_values: '{{ jh_helm_chart_values }}'
