---
# Defaults for scout_common role
# This role contains shared tasks and default configuration values
# All values here can be overridden in inventory.yaml
timezone: 'America/Chicago'

# Helm deployment defaults
helm_chart_create_namespace: true
helm_chart_wait: true
helm_chart_timeout: '5m'
helm_chart_values: {}
helm_chart_values_files: []

# Custom images (override from inventory for CI/CD)
# Launchpad: launchpad_image_repository and launchpad_image_tag (see roles/launchpad/defaults/main.yaml)
# Superset: superset_image_repository and superset_image_tag (see roles/superset/defaults/main.yaml)
# Jupyter: jupyter_singleuser_image_name and jupyter_singleuser_image_tag (see roles/jupyter/defaults/main.yaml)
# Extractors: hl7log_extractor_image_repository/tag and hl7_transformer_image_repository/tag (see roles/extractor/defaults/main.yaml)

# Kubernetes configuration
kubeconfig_yaml: /etc/rancher/k3s/k3s.yaml
air_gapped: false

# Default namespaces
cnpg_operator_namespace: cnpg-operator
postgres_cluster_namespace: cnpg
prometheus_namespace: prometheus
grafana_namespace: grafana
loki_namespace: loki
gpu_operator_namespace: gpu-operator
extractor_namespace: extractor
minio_operator_namespace: minio-operator
minio_tenant_namespace: minio-scout
hive_namespace: hive
temporal_namespace: temporal
cassandra_namespace: cassandra
cert_manager_namespace: cert-manager
eck_operator_namespace: eck-operator
elasticsearch_namespace: elastic
jupyter_namespace: jupyter
superset_namespace: superset
trino_namespace: trino
harbor_namespace: harbor
orthanc_namespace: orthanc
dcm4chee_namespace: dcm4chee
launchpad_namespace: launchpad
keycloak_namespace: keycloak

# Keycloak oauth client id's and secrets (override secrets in inventory)
keycloak_oauth2_proxy_client_id: oauth2-proxy
keycloak_oauth2_proxy_client_secret: changeme-oauth2-proxy-secret
keycloak_superset_client_id: superset
keycloak_superset_client_secret: changeme-superset-secret
keycloak_jupyterhub_client_id: jupyterhub
keycloak_jupyterhub_client_secret: changeme-jupyterhub-secret
keycloak_grafana_client_id: grafana
keycloak_grafana_client_secret: changeme-grafana-secret
keycloak_temporal_client_id: temporal
keycloak_temporal_client_secret: changeme-temporal-secret
keycloak_minio_client_id: minio
keycloak_minio_client_secret: changeme-minio-secret
keycloak_launchpad_client_id: launchpad
keycloak_launchpad_client_secret: changeme-launchpad-secret

# S3/MinIO configuration (passwords defined in inventory)
s3_region: us-east-1
s3_username: minio
s3_lake_reader: lake-reader
s3_lake_writer: lake-writer
s3_loki_writer: loki-writer
lake_bucket: lake
scratch_bucket: scratch

# Database
postgres_cluster_name: postgresql-cluster

# Usernames (passwords defined in inventory)
postgres_user: scout
hive_postgres_user: hive
superset_postgres_user: superset
keycloak_postgres_user: keycloak

# Table names
report_delta_table_name: reports
ingest_postgres_table_name: ingest

# Helm configuration
helm_plugins_dir: /root/.local/share/helm/plugins

# Container mounted paths
modality_map_path: /data/modality_mapping_codes.csv

# Object storage paths (use variables for bucket names)
scratch_path: 's3://{{ scratch_bucket }}'
delta_lake_path: 's3a://{{ lake_bucket }}/delta' # Hadoop requires the s3a prefix

# OAuth2 Proxy configuration
oauth2_proxy_subdomain: auth

# Keycloak configuration (DO NOT CHANGE)
# The realm and subdomain values are hardcoded in Launchpad.
# These variables are used for constructing the authentication URLs below.
keycloak_realm_name: scout
keycloak_subdomain: keycloak

# Computed values (DO NOT CHANGE)
s3_endpoint: 'http://minio.{{ minio_tenant_namespace }}'
hive_metastore_endpoint: 'thrift://hive-metastore.{{ hive_namespace }}:9083'
server_hostname: '{{ hostvars[groups["server"][0]].external_url | default(groups["server"][0]) }}'
keycloak_base_url: 'https://{{ keycloak_subdomain }}.{{ server_hostname }}'
keycloak_realm_url: '{{ keycloak_base_url }}/realms/{{ keycloak_realm_name }}'
keycloak_oidc_auth_url: '{{ keycloak_realm_url }}/protocol/openid-connect/auth'
keycloak_oidc_token_url: '{{ keycloak_realm_url }}/protocol/openid-connect/token'
keycloak_oidc_userinfo_url: '{{ keycloak_realm_url }}/protocol/openid-connect/userinfo'
keycloak_oidc_certs_url: '{{ keycloak_realm_url }}/protocol/openid-connect/certs'
keycloak_oidc_logout_url: '{{ keycloak_realm_url }}/protocol/openid-connect/logout'
keycloak_wellknown_url: '{{ keycloak_realm_url }}/.well-known/openid-configuration'
oauth2_proxy_base_url: 'https://{{ oauth2_proxy_subdomain }}.{{ server_hostname }}'
oauth2_proxy_callback_url: '{{ oauth2_proxy_base_url }}/oauth2/callback'
oauth2_proxy_signout_url: '{{ oauth2_proxy_base_url }}/oauth2/sign_out'
oauth2_proxy_auth_url: '{{ oauth2_proxy_base_url }}/oauth2/auth'
