/* JupyterLab Scout Logo Customization */
/* Override default Jupyter logo with Scout logo */

#jp-MainLogo {
  background-image: url('./scout.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* Hide the default SVG logo */
#jp-MainLogo svg {
  visibility: hidden;
}
