/* JupyterLab Scout Logo Customization */
/* Override default Jupyter logo with Scout logo */

#jp-MainLogo {
  background-image: url('/home/jovyan/.jupyter/custom/scout.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Hide the default SVG logo */
#jp-MainLogo svg {
  display: none;
}
