- name: Populate PACS via C-STORE
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: batch/v1
      kind: Job
      metadata:
        generateName: 'pacs-populate-'
        namespace: '{{ target_namespace }}'
        labels:
          app: pacs-populate
      spec:
        ttlSecondsAfterFinished: 600
        backoffLimit: 3
        template:
          metadata:
            labels:
              app: pacs-populate
          spec:
            restartPolicy: Never
            containers:
              - generateName: dcm4che
                image: dcm4che/dcm4che-tools:5.33.1
                command:
                  - storescu
                  - -c
                  - '{{ called_aet }}@{{ dicom_host }}:{{ dicom_port }}'
                  - '/data'
                volumeMounts:
                  - name: data
                    mountPath: /data
                    readOnly: true
            volumes:
              - name: data
                hostPath:
                  path: '{{ data_dir }}'
